body {
	color: #ffffff;
	font: 12px verdana, monospace;
	font-family: verdana, monospace;
	background-color: #003087;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

input[type="text"] {
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	height: 15px;
	color: #003087;
	padding: 5px;
	vertical-align: top;
	text-align: center;
}

p {
	margin: 10px 0;
}

.center_main {
	text-align: center;
	font-size: 50px;
	font-family: verdana, monospace;
	color: #ffffff;
}

.login_form {
	width: 200px;
	height: 100px;
	background-color: #ffffff;
	color: #003087;
	text-align: center;
	line-height: 100px;
	font-size: 24px;
	font-family: verdana, monospace;
}

.login-popup {
	width: 200px;
	height: 200px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	display: none;
	font-family: verdana, monospace;
	color: #003087;
}

.container_main {
    text-align: center;
	font-family: verdana, monospace;
}

.block {
    display: inline-block;
    width: 250px;
    height: 50px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    line-height: 50px;
	color:#ffffff;
	font-family: verdana, monospace;
}

.topnav {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 1000;
	font-size: 20px;
  	font-family: verdana, monospace;
}
  
.topnav a {
	float: left;
	display: block;
	color: #003087;
	text-align: center;
	padding: 24px 36px;
	text-decoration: none;
}
  
.topnav a:hover {
	background-color: #003087;
	color: #ffffff;
}
  
.topnav a.right {
	float: right;
}
  
.topnav center {
	display: block;
	color: #003087;
	text-align: center;
	padding: 24px 36px;
	text-decoration: none;
}

.block_for_ranking {
	display: block;
    width: 550px;
    height: 50px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
	justify-content: center;
	align-items: center;
    line-height: 50px;
	color:#ffffff;
	font-size: 20px;
	font-family: verdana, monospace;
}

.block_for_deadlines {
    float: right;
    width: 20%;
    margin-top: 10px;
    height: 550px;
	border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    overflow-y: auto;
	font-size: 20px;
	font-family: verdana, monospace;
	justify-content: right;
	align-items: right;
}

table {
    width: 70%;
    margin: 10px;
	font-family: verdana, monospace;
}

th, td {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
	font-family: verdana, monospace;
}

.block_for_goal {
    display: inline-block;
    width: 550px;
    height: 350px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    line-height: 50px;
	color:#ffffff;
	font-family: verdana, monospace;
}

.container_for_YO {
	margin: 0px;
	padding: 10px;
    display: flex;
    justify-content: center;
}

.photo-container {
    width: 33.33%;
    text-align: center;
    padding: 0px;
}

.announcement-container {
    width: 33.33%;
	margin: 10px;
    padding: 10px;
	width: 450px;
    height: 450px;
	text-align: center;
	border: 3px solid rgb(255, 255, 255);
	vertical-align: center;
}

  .block_for_paper {
	display: block;
    width: 1000px;
    height: 50px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    line-height: 50px;
	color:#ffffff;
	font-size: 20px;
	font-family: verdana, monospace;
}

.container_for_match {
    width: 50%;
	margin: 10px;
    padding: 10px;
	width: 450px;
    height: 450px;
	text-align: center;
	border: 3px solid rgb(255, 255, 255);
	vertical-align: center;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_for_vneuchebka {
    width: 50%;
	margin: 10px;
    padding: 10px;
	width: 450px;
    height: 450px;
	text-align: center;
	border: 3px solid rgb(255, 255, 255);
	vertical-align: center;
	font-size: 15px;
}